html{
    scroll-behavior: smooth;
}
.navbar-light .navbar-nav .nav-link{
    color: #818181;
}
.navbar-light .navbar-nav .nav-link:active{
    color: #00a2c8;
}
.navbar-light .navbar-nav .nav-link:hover{
    background-color: #00a2c8;
    background-image:linear-gradient(45deg,white,#00a2c8);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
.navbar-nav > li{
    padding-left: 15px;
    padding-right: 15px;
    font-size: large;
}
.navbar-nav>li:hover, .navbar-light .navbar-nav .nav-link:hover {
    cursor: pointer;
}
.navbar:not(active){
    transition: all 1s ease-in-out;
}
.active{
    background: #f8f9fa;
    transition: all 1s ease-in-out;
}
.hide{
    display: none;
}