.activeSide{
    transition: all 0.5s ease-in-out;
}

.hideSide{
    display:none;
}
.sidebar {
    width: 70px;
    height: 100%;
    position: fixed;
    top: auto;
    left: 0;
    background-color: #f8f9fa;
    padding-top: 40px;
    white-space: nowrap;
    overflow-x: hidden;
    z-index: 10; 
    transition: 0.5s;    
  }
  
  .sidebar .btnSide {
    padding: 8px 8px 8px 25px;
    margin-top: 10px;
    margin-bottom:40px;
    text-decoration: none;
    font-size: 18px;
    color: #00a2c8;
    display: block;

  }
  
  .sidebar .btnSide:hover {
    color: #21aa47;
    text-decoration: none;
    background-color:white;
  }
  
  main .sidebar{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .icon,
  .icon-text {
    vertical-align: middle;
  }
  
  .icon {
  
    margin-right: 30px;

  }


  .sidebar .btnSide:active{
    color: #21aa47;
}
  
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}